body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6c5f8f, #6c5f8f);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.forgot-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 95%;
    padding: 10px;
    background: #6c5f8f;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #6c5f8f;
}

.links {
    margin-top: 15px;
}

.links a {
    color: #6c5f8f;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

#errorMsg {
    font-size: 14px;
    margin-top: 10px;
}